
.App {
  text-align: center;
}
#user-lists{
  overflow: hidden;
  padding-right: 200px;
}

#profile-buttons{
  float: left;
  padding-left: 50px;
}

#list-namer{
  margin: 10px;
}
.navbar {
  background-color: rgb(145, 216, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.item-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  max-height: 150px;
}

.item-card {
  flex-basis: 20%;
  margin: 10px;
  border: 2px dotted;
  padding: 3px;
  border-radius: 5px;
}

input{
  margin: 5px;
}
button{
  margin-left: 5px;
}